<form>
  <table class="table table-striped">
    <thead>
      <tr>
        <th
          *ngFor="let header of tableheaders;"
          sortable="{{ header.data }}"
          (sort)="onSort($event)"
          [direction] = "service.sortDirection"
          [class.asc] = "sort[header.data] === 'asc'"
          [class.desc] = "sort[header.data] === 'desc'"
        >
          {{ header.title }}
        </th>
        <th style="width: 55px;" class="show dropdown">
            <a href="javascript:void(0)" class="dropdown-toggle" (click)="toggleShow()">
                <i class="fa fa-fw fa-gear"></i>
            </a>
            <div class="dropdown-menu" [class.show]="show">
                <a *ngFor="let header of tableheaders; let i = index" class="dropdown-item" href="javascript:void(0)"
                    (click)="hideHeader(i, header)">
                    <span [class.table-dropdown-ellipse]="header.title.length > 17">
                        {{ header.title }}
                    </span>
                    <svg style="float:right" viewBox="0 0 24 24" width="18" height="18" stroke="currentColor" stroke-width="2"
                        fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1">
                        <line x1="18" y1="6" x2="6" y2="18"></line>
                        <line x1="6" y1="6" x2="18" y2="18"></line>
                    </svg>
                </a>
                <hr *ngIf="tableheadersTemp.length">
                <a *ngFor="let header of tableheadersTemp; let i = index" class="dropdown-item" href="javascript:void(0)"
                    (click)="showHeader(i, header)">
                    <span [class.table-dropdown-ellipse]="header.title.length > 17">
                        {{ header.title }}
                    </span>
                    <svg style="float:right" viewBox="0 0 24 24" width="18" height="18" stroke="currentColor" stroke-width="2"
                        fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1">
                        <polyline points="20 6 9 17 4 12"></polyline>
                    </svg>
                </a>
            </div>
        </th>
      </tr>
    </thead>
    <tbody [style.height.px]="innerHeight" [style.padding-bottom.px]="61">
      <tr *ngFor="let row of tableitems$ | async"
        appLinkHandler
        [drill]="row['drill']"
        [class.drill]="row['drill']"
      >
        <td *ngFor="let header of tableheaders;" [ngSwitch]="header.type">
          <span *ngSwitchCase="'time'">
            {{ row[header.data] | sec2min }}
          </span>
          <span *ngSwitchCase="'heatmap-time'" appColourHandler [interval]="row['num_agents'] != undefined ? row['num_agents'] : 1" [time]="row[header.data]">
            {{ row[header.data] | sec2min }}
          </span>
          <span *ngSwitchCase="'datetime'">
            {{ row[header.data] | trmDate }}
          </span>
          <span *ngIf="header.type !== 'time' && header.type !== 'heatmap-time' && header.type !== 'datetime' ">
            {{ row[header.data] || '-' }}
          </span>
        </td>
        <td style="width: 55px;">&nbsp;</td>
      </tr>
    </tbody>
  </table>

  <div *ngIf="rows > 99" class="d-flex justify-content-between p-1 border bg-light filter-bottom--fixed">
    <ngb-pagination
      [collectionSize]="rows" [(page)]="service.page" (pageChange)="pageClick(service.page)" [pageSize]="service.pageSize" [maxSize]="5" [boundaryLinks]="true"></ngb-pagination>

    <select class="custom-select" style="width: auto" name="pageSize" [(ngModel)]="service.pageSize">
      <option [ngValue]="100">100 items per page</option>
      <option [ngValue]="150">150 items per page</option>
      <option [ngValue]="200">200 items per page</option>
    </select>
  </div>

</form>
