<form>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col" *ngFor="let header of tableheaders;" sortable="{{ header.data }}"
          (sort)="onSort($event)">
          {{ header.title }}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of tableitems$ | async">
        <td *ngFor="let header of tableheaders;">{{ row[header.data] }}</td>
      </tr>
    </tbody>
  </table>

  <div class="d-flex justify-content-between p-1 border bg-light">
    <ngb-pagination
      [collectionSize]="rows" [(page)]="service.page" [pageSize]="service.pageSize" [maxSize]="5" [boundaryLinks]="true"></ngb-pagination>


    <select class="custom-select" style="width: auto" name="pageSize" [(ngModel)]="service.pageSize">
      <option [ngValue]="10">10 items per page</option>
      <option [ngValue]="50">50 items per page</option>
      <option [ngValue]="100">100 items per page</option>
    </select>
  </div>
</form>
