<div [@routerTransition]>
    <div class="row">
        <div class="col px-md">
            <div class="p-1 border bg-light">
                <div class="form-inline">
                    <form class="form-inline">
                        <div class="form-group mr-2">
                            <div class="input-group">
                                <input class="form-control" placeholder="From date" name="dpFrom" ngbDatepicker
                                    #dF="ngbDatepicker" (click)="dF.toggle()">
                            </div>
                        </div>
                        <div class="form-group mr-2">
                            <div class="input-group">
                                <input class="form-control" placeholder="To date" name="dpTo" ngbDatepicker
                                    #dT="ngbDatepicker" (click)="dT.toggle()">
                            </div>
                        </div>
                    </form>
    
                    <div class="btn-group mr-2">
                        <div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
                            <button class="btn btn-outline-secondary" ngbDropdownToggle (click)="filter('agents')">Agents</button>
                            <div class="dropdown-menu" ngbDropdownMenu>
                                <button ngbDropdownItem *ngFor="let item of filters['agents']">{{ item }}</button>
                            </div>
                        </div>
                        <div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
                            <button class="btn btn-outline-secondary" ngbDropdownToggle (click)="filter('groups')">groups</button>
                            <div class="dropdown-menu" ngbDropdownMenu>
                                <button ngbDropdownItem *ngFor="let item of filters['groups']">{{ item.groupName }}</button>
                            </div>
                        </div>
                        <div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
                            <button class="btn btn-outline-secondary" ngbDropdownToggle (click)="filter('dispositions')">dispositions</button>
                            <div class="dropdown-menu" ngbDropdownMenu>
                                <button ngbDropdownItem *ngFor="let item of filters['dispositions']">{{ item }}</button>
                            </div>
                        </div>
                        <div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
                            <button class="btn btn-outline-secondary" ngbDropdownToggle (click)="filter('calltypes')">calltypes</button>
                            <div class="dropdown-menu" ngbDropdownMenu>
                                <button ngbDropdownItem *ngFor="let item of filters['calltypes']">{{ item.type }}</button>
                            </div>
                        </div>
                    </div>
                    <div class="btn-group ml-auto">
                        <div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
                            <button class="btn btn-outline-secondary" ngbDropdownToggle>Export</button>
                            <div class="dropdown-menu" ngbDropdownMenu>
                                <button ngbDropdownItem>PDF</button>
                                <button ngbDropdownItem>CSV</button>
                                <button ngbDropdownItem>EXCEL</button>
                                <button ngbDropdownItem>PRINT</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <ngbd-table-complete 
            [tableheaders]="tableHeaders"
            [tablerows]="tableRows"
            [rows]="totals"
            class="table-responsive col-12"></ngbd-table-complete>
    </div>
</div>
