<div class="row">
    <div class="col px-md">
        <div class="p-1 border bg-light">
            <div class="form-inline">
                <form class="form-inline">
                    <div class="form-group mr-2">
                        <div class="input-group">
                            <input class="form-control" placeholder="From date" name="dpFrom" ngbDatepicker
                                #dF="ngbDatepicker" [(ngModel)]="fromModel" (click)="dF.toggle()">
                        </div>
                    </div>
                    <div class="form-group mr-2">
                        <div class="input-group">
                            <input class="form-control" placeholder="To date" name="dpTo" ngbDatepicker
                                #dT="ngbDatepicker" [(ngModel)]="toModel" (click)="dT.toggle()">
                        </div>
                    </div>
                </form>

                <div class="btn-group mr-2">
                    <div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
                        <button class="btn btn-outline-secondary" ngbDropdownToggle>{{ filterSelected['agent'] || 'All Agents'}}</button>
                        <div class="dropdown-menu" ngbDropdownMenu>
                            <button ngbDropdownItem (click)="setFilter('agent', 'all')">All Agents</button>
                            <button ngbDropdownItem *ngFor="let item of filters['agents']"
                                (click)="setFilter('agent', item)">{{ item }}</button>
                        </div>
                    </div>
                    <div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
                        <button class="btn btn-outline-secondary" ngbDropdownToggle>{{ filterSelected['groups'] || 'All Groups'}}</button>
                        <div class="dropdown-menu" ngbDropdownMenu>
                            <button ngbDropdownItem (click)="setFilter('group', 'all')">All Groups</button>
                            <button ngbDropdownItem *ngFor="let item of filters['groups']"
                            (click)="setFilter('group', item.groupName)">{{ item.groupName }}</button>
                        </div>
                    </div>
                    <div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
                        <button class="btn btn-outline-secondary" ngbDropdownToggle>{{ filterSelected['dispositions'] || 'All Dispositions' }}</button>
                        <div class="dropdown-menu" ngbDropdownMenu>
                            <button ngbDropdownItem (click)="setFilter('disposition', 'all')">All Dispositions</button>
                            <button ngbDropdownItem *ngFor="let item of filters['dispositions']" (click)="setFilter('disposition', item)">{{ item }}</button>
                        </div>
                    </div>
                    <div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
                        <button class="btn btn-outline-secondary" ngbDropdownToggle>{{ filterSelected['calltype'] || 'All Calltypes' }}</button>
                        <div class="dropdown-menu" ngbDropdownMenu>
                            <button ngbDropdownItem (click)="setFilter('calltype', 'all')">All Calltypes</button>
                            <button ngbDropdownItem *ngFor="let item of filters['calltypes']"
                            (click)="setFilter('calltype', item.type)">{{ item.type }}</button>
                        </div>
                    </div>
                </div>
                <div class="btn-group ml-auto">
                    <div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
                        <button class="btn btn-outline-secondary" ngbDropdownToggle>Export</button>
                        <div class="dropdown-menu" ngbDropdownMenu>
                            <button ngbDropdownItem>PDF</button>
                            <button ngbDropdownItem>CSV</button>
                            <button ngbDropdownItem>EXCEL</button>
                            <button ngbDropdownItem>PRINT</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
