<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive, collapsed: collapsed}">
    <div class="list-group">
        <div class="nested-menu">
            <a class="list-group-item">
                <i class="fa fa-plus"></i>
                <span>{{ 'Call' | translate }}</span>
            </a>
            <span class="nested expand">
                <ul class="submenu">
                    <li>
                        <a [routerLink]="['/call/trail']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <i class="fa fa-monument"></i>
                            <span>{{ 'Trail details' | translate }}</span>
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/call/interaction']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <i class="fa fa-monument"></i>
                            <span>{{ 'Interaction' | translate }}</span>
                        </a>
                    </li>
                </ul>
            </span>
        </div>
        <div class="nested-menu">
            <a class="list-group-item">
                <i class="fa fa-plus"></i>
                <span>{{ 'Distribution' | translate }}</span>
            </a>
            <span class="nested expand">
                <ul class="submenu">
                    <li>
                        <a [routerLink]="['/distribution/agent']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <i class="fa fa-monument"></i>
                            <span>{{ 'Agent' | translate }}</span>
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/distribution/group']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <i class="fa fa-monument"></i>
                            <span>{{ 'Group' | translate }}</span>
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/distribution/hourly']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <i class="fa fa-monument"></i>
                            <span>{{ 'Hourly' | translate }}</span>
                        </a>
                    </li>
                </ul>
            </span>
        </div>
        <div class="nested-menu">
            <a class="list-group-item">
                <i class="fa fa-plus"></i>
                <span>{{ 'Heatmap' | translate }}</span>
            </a>
            <span class="nested expand">
                <ul class="submenu">
                    <li>
                        <a [routerLink]="['/heatmap/agent']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <i class="fa fa-monument"></i>
                            <span>{{ 'Agent' | translate }}</span>
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/heatmap/group']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <i class="fa fa-monument"></i>
                            <span>{{ 'Group' | translate }}</span>
                        </a>
                    </li>
                </ul>
            </span>
        </div>
    </div>
    <div class="toggle-button" [ngClass]="{collapsed: collapsed}" (click)="toggleCollapsed()">
        <i class="fa fa-fw fa-angle-double-{{collapsed?'right':'left'}}"></i>
        <span>{{ 'Collapse Sidebar' | translate }}</span>
    </div>
</nav>
